<h4><%= @blog.user.name %>&nbsp;様</h4>
<p>ブログの投稿を受け付けました</p>

<div>
  <p>=========================================</p>
  <h4>ご投稿内容の確認</h4>
  <p><%= @blog.content %></p>
  <p><%= image_tag @blog.image %>
  <p>=========================================</p>
</div>

<p>※このメールは送信専用メールです。内容に関するご質問・お問い合わせには対応しておりません。</p>
<h4>運営事務局</h4>
