header {
  border-bottom: 1px solid #ddd;
  background-color: #F6F6F6;
  height: 70px;
  line-height: 70px;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  position: fixed;
  z-index: 10;
}

footer {
  border-top: 1px solid #ddd;
  background-color: #F6F6F6;
  height: 70px;
  line-height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  position: fixed;
}

.icons {
  display: flex;
  justify-content: space-around;
}

#top_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#top_icon img {
  height: 100%;
  width: auto;
}

body {
  color: #341D00;
}

h1 {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

a {
  color: #341D00;
}

a:hover {
  color: #341D00;
  text-decoration: none;
}

.grad_text {
  display: inline-block;
  background-image: linear-gradient(to right bottom, #4DD4D0, #ee609c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: middle;
}

header i, footer i {
  background-image: linear-gradient(to right bottom, #4DD4D0, #ee609c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  vertical-align: middle;
}

.default_form {
  margin: 50px 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.message {
  text-align: right;
  color: #8B8B8B;
  margin-right: 10px;
}

#simple_border {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

#simple_border img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-left: 2px solid #4DD4D0;
  border-right: 2px solid #ee609c;
  border-radius: 25px;
  overflow: hidden;
}

#grad_border {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-left: 2px solid #4DD4D0;
  border-right: 2px solid #ee609c;
  border-radius: 25px;
  overflow: hidden;
  vertical-align: middle;
}

.btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #4DD4D0;
    color: #3AA29F;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 1px #44BDBA;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn:hover {
    color: #3AA29F;
}

.btn:active   {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

//session.html & user.html
.input_column {
  margin: 10px;
}

.input {
  border: 1px solid #ddd;
}

// user.html
.your_info ul {
  list-style: none;
}

.your_info ul li a:hover {
  color: #44BDBA;
}

// choosing_image column on users/new.html
#choose_image {
  border: none;
}

.profile_picture {
  text-align: center;
}

#preview_border {
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.preview img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile_picture img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-left: 2px solid #4DD4D0;
  border-right: 2px solid #ee609c;
  border-radius: 75px;
  overflow: hidden;
}

// blogs/new.html
#blog_image {
  display: none;
}

.blog-title label:hover {
  cursor: pointer;
}

.blog-title .preview {
  width: 100%;
  height: auto;
}

// blogs/favorite.html
#no_border_no i, #no_border_yes i {
  color: #FF0520;
}

// listing out images
.blogs_list img {
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: 2px solid #F6F6F6;
}

.photos {
  position: relative;
  font-family: 'Handlee', cursive;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  visibility: hidden;
  text-align: center;
}

// used in sample.js
.text-active {
  visibility: visible;
}

.opacity_control {
  opacity: 0.5;
}


@media (min-width: 600px) {
  .photo_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .photos {
   grid-column: span 2;
   grid-row: span 1;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 11px;
  }
}
