// font-family: 'Lobster', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Handlee', cursive;

#blog_image {
  display: none;
}

#image_selection {
  cursor: pointer;
  border: 1px solid #000;
}
